header {
  text-align: center;
}

.contents {
  display: flex;
  font-family: "NanumBarunGothic", Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

.subject-name {
  display: inline-block;
  margin: 0px 20px;
}

.subject-grade {
  display: inline-block;
  margin: 0px 20px;
}
