header {
  text-align: center;
}

.contents {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "NanumBarunGothic", Arial, Helvetica, sans-serif;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}

.subject-name {
  margin: 0px 20px;
}

.subject-grade {
  margin-right: 60px;
}
